# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.FileOperations.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\SoftUni\SoftUni-C-Sharp-Advanced\C-Sharp-Avanced\Streams_Files_and_Directories\FileOperations\.idea\.idea.FileOperations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
