/C-Sharp-Avanced/Multidimensional Arrays/.idea/.idea.Multidimensional Arrays/.idea/.gitignore
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Stacks-And-Queues/Balanced-Parenthesis/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Stacks-And-Queues/Fashion-Boutique/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-Sharp-Avanced/Stacks-And-Queues/Balanced-Parenthesis/obj/Debug/netcoreapp3.1/Balanced-Parenthesis.AssemblyInfo.cs
/C-Sharp-Avanced/Stacks-And-Queues/Balanced-Parenthesis/obj/Debug/netcoreapp3.1/Balanced-Parenthesis.AssemblyInfoInputs.cache
/C-Sharp-Avanced/Stacks-And-Queues/.idea/.idea.Stacks-And-Queues/.idea/codeStyles/codeStyleConfig.xml
/C-Sharp-Avanced/Multidimensional Arrays/.idea/.idea.Multidimensional Arrays/.idea/encodings.xml
/C-Sharp-Avanced/Stacks-And-Queues/Fashion-Boutique/obj/Debug/netcoreapp3.1/Fashion-Boutique.AssemblyInfo.cs
/C-Sharp-Avanced/Stacks-And-Queues/Fashion-Boutique/obj/Fashion-Boutique.csproj.nuget.dgspec.json
/C-Sharp-Avanced/Stacks-And-Queues/Fashion-Boutique/obj/Fashion-Boutique.csproj.nuget.g.props
/C-Sharp-Avanced/Stacks-And-Queues/Fashion-Boutique/obj/Fashion-Boutique.csproj.nuget.g.targets
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/Debug/netcoreapp3.1/Fast-Food.AssemblyInfo.cs
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/Debug/netcoreapp3.1/Fast-Food.AssemblyInfoInputs.cache
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/Debug/netcoreapp3.1/Fast-Food.assets.cache
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/Fast-Food.csproj.nuget.dgspec.json
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/Fast-Food.csproj.nuget.g.props
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/Fast-Food.csproj.nuget.g.targets
/C-Sharp-Avanced/Multidimensional Arrays/.idea/.idea.Multidimensional Arrays/.idea/indexLayout.xml
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/Debug/netcoreapp3.1/Jagged-Array Modification.AssemblyInfo.cs
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/Debug/netcoreapp3.1/Jagged-Array Modification.AssemblyInfoInputs.cache
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/Debug/netcoreapp3.1/Jagged-Array Modification.assets.cache
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/Jagged-Array Modification.csproj.nuget.dgspec.json
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/Jagged-Array Modification.csproj.nuget.g.props
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/Jagged-Array Modification.csproj.nuget.g.targets
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/Debug/netcoreapp3.1/Maximal Sum.AssemblyInfo.cs
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/Debug/netcoreapp3.1/Maximal Sum.AssemblyInfoInputs.cache
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/Debug/netcoreapp3.1/Maximal Sum.assets.cache
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/Maximal Sum.csproj.nuget.dgspec.json
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/Maximal Sum.csproj.nuget.g.props
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/Maximal Sum.csproj.nuget.g.targets
/C-Sharp-Avanced/Multidimensional Arrays/Multidimensional Arrays.sln
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/Debug/netcoreapp3.1/Print-Even-Numbers.AssemblyInfo.cs
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/Debug/netcoreapp3.1/Print-Even-Numbers.AssemblyInfoInputs.cache
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/Debug/netcoreapp3.1/Print-Even-Numbers.assets.cache
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/Print-Even-Numbers.csproj.nuget.dgspec.json
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/Print-Even-Numbers.csproj.nuget.g.props
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/Print-Even-Numbers.csproj.nuget.g.targets
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/project.assets.json
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/project.assets.json
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/project.assets.json
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/project.assets.json
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/project.assets.json
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/project.assets.json
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/project.assets.json
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/project.assets.json
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/project.nuget.cache
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/project.nuget.cache
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/project.nuget.cache
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/project.nuget.cache
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/project.nuget.cache
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/project.nuget.cache
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/project.nuget.cache
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/project.nuget.cache
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/project.packagespec.json
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/project.packagespec.json
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/project.packagespec.json
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/project.packagespec.json
/C-Sharp-Avanced/Stacks-And-Queues/Balanced-Parenthesis/obj/project.packagespec.json
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/project.packagespec.json
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/project.packagespec.json
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/project.packagespec.json
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/project.packagespec.json
/C-Sharp-Avanced/Multidimensional Arrays/Jagged-Array Modification/obj/rider.project.restore.info
/C-Sharp-Avanced/Multidimensional Arrays/Maximal Sum/obj/rider.project.restore.info
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/rider.project.restore.info
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/rider.project.restore.info
/C-Sharp-Avanced/Stacks-And-Queues/Fast-Food/obj/rider.project.restore.info
/C-Sharp-Avanced/Stacks-And-Queues/Print-Even-Numbers/obj/rider.project.restore.info
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/rider.project.restore.info
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/rider.project.restore.info
/C-Sharp-Avanced/Multidimensional Arrays/.idea/.idea.Multidimensional Arrays/.idea/riderModule.iml
/C-Sharp-Avanced/Stacks-And-Queues/Songs-Queue/obj/Debug/netcoreapp3.1/Songs-Queue.assets.cache
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/Debug/netcoreapp3.1/Stack-Sum.AssemblyInfo.cs
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/Debug/netcoreapp3.1/Stack-Sum.AssemblyInfoInputs.cache
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/Debug/netcoreapp3.1/Stack-Sum.assets.cache
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/Stack-Sum.csproj.nuget.dgspec.json
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/Stack-Sum.csproj.nuget.g.props
/C-Sharp-Avanced/Stacks-And-Queues/Stack-Sum/obj/Stack-Sum.csproj.nuget.g.targets
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Columns/obj/Debug/netcoreapp3.1/Sum Matrix Columns.assets.cache
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/Debug/netcoreapp3.1/Sum Matrix Elements.AssemblyInfo.cs
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/Debug/netcoreapp3.1/Sum Matrix Elements.AssemblyInfoInputs.cache
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/Debug/netcoreapp3.1/Sum Matrix Elements.assets.cache
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/Sum Matrix Elements.csproj.nuget.dgspec.json
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/Sum Matrix Elements.csproj.nuget.g.props
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/Sum Matrix Elements.csproj.nuget.g.targets
/C-Sharp-Avanced/Multidimensional Arrays/Sum Matrix Elements/obj/Debug/netcoreapp3.1/Sum Matrix Elements.csprojAssemblyReference.cache
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/Debug/netcoreapp3.1/Supermarket.AssemblyInfo.cs
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/Debug/netcoreapp3.1/Supermarket.AssemblyInfoInputs.cache
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/Debug/netcoreapp3.1/Supermarket.assets.cache
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/Supermarket.csproj.nuget.dgspec.json
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/Supermarket.csproj.nuget.g.props
/C-Sharp-Avanced/Stacks-And-Queues/Supermarket/obj/Supermarket.csproj.nuget.g.targets
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/Debug/netcoreapp3.1/twoXtwo - Squares in Matrix.AssemblyInfo.cs
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/Debug/netcoreapp3.1/twoXtwo - Squares in Matrix.AssemblyInfoInputs.cache
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/Debug/netcoreapp3.1/twoXtwo - Squares in Matrix.assets.cache
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/twoXtwo - Squares in Matrix.csproj.nuget.dgspec.json
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/twoXtwo - Squares in Matrix.csproj.nuget.g.props
/C-Sharp-Avanced/Multidimensional Arrays/twoXtwo - Squares in Matrix/obj/twoXtwo - Squares in Matrix.csproj.nuget.g.targets
/C-Sharp-Avanced/Multidimensional Arrays/.idea/.idea.Multidimensional Arrays/.idea/vcs.xml
bin/
obj/