# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Functional_Programming.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\SoftUni-C-Sharp-Advanced\C-Sharp-Avanced\Functional_Programming\.idea\.idea.Functional_Programming\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
