# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CSharp-Advanced-Retake-Exam-16-December-2020.iml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\SoftUni-C-Sharp-Advanced\C-Sharp-Advanced\CSharp-Advanced-Retake-Exam-16-December-2020\.idea\.idea.CSharp-Advanced-Retake-Exam-16-December-2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
